<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link href="~/Helpers/css/skeleton.css" rel="stylesheet" />
    <link href="~/Helpers/css/normalize.css" rel="stylesheet" />
</head>
<body>
<header>
    <img src="~/Helpers/Images/Header1.jpg" />
</header>
<nav>
    
</nav>
<div>
    @RenderBody()
</div>
</body>
</html>
